#title{
	font-weight: bold;
	font-size: 30px;
	color: blue;
	font-style: italic;
}

#topbar{
	width:100%;
	height: 60px;
    padding:10px;
    color: red;
 	background-color: yellowgreen;
}
#signup{
/* 	background-color: red;*/
 	width:70px;
	font-weight: bold;
	font-size: 20px;
	display: inline;
	float: right; 
	margin-left: 5px;
	margin-right: 15px;
 	border-color: black;
 	border-style: solid;
}
#login{
	font-weight: bold;
	font-size: 20px;
	display: inline;
/*	background-color: red;*/
	float: right;
	margin-left: 5px;
 	border-color: black;
 	border-style: solid;		
}

#logout{
	font-weight: bold;
	font-size: 20px;
	display: inline;
/*	background-color: red;*/
	float: right;
	margin-left: 5px;
	margin-right: 15px;
 	border-color: black;
 	border-style: solid;
}

#username{
	color: black;
	font-weight: bold;
	font-size: 20px;
	float: right;
}

#personal{
	color: black;
	font-weight: bold;
	font-size: 20px;
	float: left;
 	border-color: black;
 	border-style: solid;
 	background-color: gold;
 	border-width: 1px;	
 	margin-left: 15px;
}

a{
	text-decoration: none
}

a:visited {
	color:black;
}

a:hover{
	color:gray;
}

a:active{
	color:gray;
}

#each-blog{
	border-top-style: dotted;
	width:45%;
	margin-left: 15px;
}

#blog-title {
	font-weight: bold;
	font-size: 23px;
	font-style: oblique;
}

#blog-user {
	font-weight: bold;
	font-size: 15px;
}

#blog-created {
	font-weight: bold;
	font-size: 15px;
}

#blog-content {
	margin-top: 15px;
	margin-right: 15px;
}

#back_blog{
/* 	background-color: red;*/
 	width:110px;
	font-weight: bold;
	border-color: black;
 	border-style: solid;
	font-size: 20px;
	float: right; 
	margin-left: 5px;
	margin-right: 15px;
	margin-bottom: 0px;
}

#edit{
	display: inline;
}

#delete{
	display: inline;
}