body{
	background-color: Lavender;
}

#title{
	font-weight: bold;
	font-size: 30px;
	color: blue;
	font-style: italic;
}

#topbar{
	width:100%;
	height: 80px;
    padding:10px;
    color: black;
 	background-color: yellowgreen;
}
#signup{
/* 	background-color: red;*/
 	width:70px;
	font-weight: bold;
	font-size: 20px;
	display: inline;
	float: right; 
	margin-left: 5px;
	margin-right: 15px;
 	border-color: black;
 	border-style: solid;
}
#login{
	font-weight: bold;
	font-size: 20px;
	display: inline;
/*	background-color: red;*/
	float: right;
	margin-left: 5px;
 	border-color: black;
 	border-style: solid;		
}

#logout{
	font-weight: bold;
	font-size: 20px;
	display: inline;
	float: right;
	margin-left: 5px;
	margin-right: 15px;
 	border-color: black;
 	border-style: solid;
 	width: 100;
}

#test{
	font-weight: bold;
	font-size: 20px;
	display: inline;
	float: left;	
	border-color: black;
	border-style: solid;
}

#weather{


	display: inline;
	float: left;	
}

#username{
	color: black;
	font-weight: bold;
	font-size: 20px;
	float: right;
}

#personal{
	color: black;
	font-weight: bold;
	font-size: 20px;
	float: left;
 	border-color: black;
 	border-style: solid;
 	background-color: gold;
 	border-width: 1px;	
 	margin-left: 15px;
 	display: inline;
}
#personal1{
	color: black;
	font-weight: bold;
	font-size: 20px;
	float: left;
 	border-color: black;
 	border-style: solid;
 	background-color: gold;
 	border-width: 1px;	
 	margin-left: 320px;
 	display: inline;
}

a{
	text-decoration: none
}

a:visited {
	color:black;
}

a:hover{
	color:gray;
}

a:active{
	color:gray;
}

#each-blog{
	border-top-style: dotted;
	width:45%;
	margin-left: 15px;
}

#each-blog1{
	border-top-style: dotted;
	margin-left: 15px;
	    width: 50%;
    margin: 0 auto;
}


#blog-title {
	font-weight: bold;
	font-size: 23px;
	font-style: oblique;
}

#blog-user {
	font-weight: bold;
	font-size: 15px;
}

#blog-created {
	font-weight: bold;
	font-size: 15px;
}

#blog-content {
	margin-top: 15px;
	margin-right: 15px;
}

#back_blog{
/* 	background-color: red;*/
 	width:110px;
	font-weight: bold;
	border-color: black;
 	border-style: solid;
	font-size: 20px;
	float: right; 
	margin-left: 5px;
	margin-right: 15px;
	margin-bottom: 0px;
}

#edit{
	font-weight: bold;
	display: inline;
	color: red;
}

#delete{
	font-weight: bold;
	display: inline;
	color: red;
}



#events{
    width: 33%;
    float: left;
    margin-right: 30px;

}
#births{
	width: 32%;
    float: left;
    margin-right: 20px;

}


#holidays{
	width: 30%;
    float: right;
}

#wiki{
    width: 95%;
    height: 200px;
    margin: auto;
    padding: 10px;
}

.more{
	float:right;
	text-decoration: underline;
	background-color: yellow;
}

.source{
	text-decoration: underline;
	color: red;
}

#form-container{
	margin-right: 110px;
	float: right;
}

.nytimes-container {
    background-color: rgba(255,255,255,0.7);
    float: right;
    width: 500px;
    margin-right: 110px;
    background-color: Lavender;
    
}

#nytimes-header{
	float: right;
	margin: 1px;
	margin-right: 160px;

}

#nytimes-articles{
	float: right;
	margin: 1px;
	margin-top: 5px;
	background-color: Lavender;
}

#nytimes-articles a:visited{
	color:blue;
}

#map{
	float: right;
	display: block;
	margin-right: 90px;
	position:relative; 
	left:80px; 
	background-color: Lavender;
}