<!DOCTYPE html>
<html>
	<head>
		<title>Travel Blog</title>
		<link rel= "stylesheet" type="text/css" href="/css/blogpage.css">
	</head>
	
	<body>
		<div id = "topbar"> 
			<a href="/signup"> 
				<div id = "signup">Sign Up</div>
			</a>

			<a href="/login"> 
				<div id = "login">Log In</div>
			</a>	

			<br>
			<br>
			{%if username%}
				<a href="/logout"> 
					<div id = "logout"> Logout</div>
				</a>
				<div id = "username">{{username}}</div>
			{%endif%}
		</div>

		<h2 id = "title" align="center">About your traveling story</h2>

		{%if username%}
			{% set url = '/myblog/' + username%}
			<div id = "personal">
				<a href={{url}}>Enter my personal blog</a>				
			</div>
			
			<br>
			<br>
		{%endif%}
		
		<div id = "weather">
		{% for content in location_weather%}
			<div> {{content}}</div>
		{%endfor%}
		<img id = "map" src = "{{img_url}}">	
		</div>

		

		{% for blog in all_blogs%}
			<div id = "each-blog">
				<div id="blog-title">{{blog.title}}</div>
				<div id="blog-user">author: {{blog.username}}</div>
				<div id="blog-created">{{blog.created.strftime("%Y-%m-%d %H:%M:%S")}}</div>
				<div id = "blog-content">{{blog.content}}</div>
				<br>
				<br>
			</div>
		{%endfor%}

	

								
	</body>
</html>