<!DOCTYPE html>
<html>
	<head>
		<title>Travel blog!</title>
	</head>
	<body>
		<h3> This is the first page!</h3>
		{%if username%}
			{% set url = 'http://localhost:8080/myblog/' + username%}
			<h4>Welcome {{username}}!</h4>
			<a href={{url}}>Go into my personal blog!</a>
			<br>
		{%endif%}

		<a href="http://localhost:8080/signup"> signup here!</a>
		<br>
		<a href="http://localhost:8080/login"> login here!</a>
		<br>
		{%if username%}
			<a href="http://localhost:8080/logout"> logout!</a>
		{%endif%}

		{% for blog in all_blogs%}
				<div class="blog-title">{{blog.title}}</div>
				<div id="blog-created">{{blog.created}}</div>
				<div id="blog-user">author: {{blog.username}}</div>
			<hr>
			<div class = "blog-content">{{blog.content}}</div>
			<br>
			<br>
		{%endfor%}						
	</body>
</html>