<!DOCTYPE html>
<html>
	<head>
		<title>Personal Page!</title>
		<link rel= "stylesheet" type="text/css" href="/css/newpost.css">
	</head>

	<body>
	<div id = "topbar">
		<a href="/blog"> 
			<div id = "back_blog">Back to Blog</div>
		</a>

		{% set url = '/myblog/' + blog.username%}
		<a href={{url}}>
			<div id = "personal">Personal Page</div>
		</a>

		<br>
		<br>
			<a href="/logout"> 
				<div id = "logout">Logout</div>
			</a>
	</div>

		<h2 id = "title" align="center">Do you want to delete the following post?</h2>

		<div id = "delete-blog"  align="center">
			<div id="blog-title">{{blog.title}}</div>
			<div id="blog-created">{{blog.created.strftime("%Y-%m-%d %H:%M:%S")}}</div>

			<div id = "blog-content-delete">{{blog.content}}</div>

			<form method="post">
				<input type="hidden" name="blog_id" value={{blog.blog_id}}>
				<br>
				<input type ="submit" value="confirm">

			</form>
		</div>

	</body>
</html>


