<!DOCTYPE html>
<html>
	<head>
		<title>Personal Page!</title>
		<link rel= "stylesheet" type="text/css" href="/css/newpost.css">
	</head>

	<body>

	<div id = "topbar">
		<a href="/blog"> 
			<div id = "back_blog">Back to Blog</div>
		</a>

		{% set url = '/myblog/' + username%}
		<a href={{url}}>
			<div id = "personal">Personal Page</div>
		</a>

		<br>
		<br>
		{%if username%}
			<a href="/logout"> 
				<div id = "logout">Logout</div>
			</a>
			<div id = "username">{{username}}</div>

		{%endif%}
	</div>
	<br>
	<div id = "title" align="center">Edit Post</div>

	<br>
	<br>

	<div id = "new post" align="center">
	<form method="post">
		<label>
			<div id = "subject-title">Subject</div>
			<input type = "text" name = "title" value="{{title}}">
		</label>
		<br>
		<br>
		<lable>
			<div id = "content-title">Content</div>
			<textarea name="content">{{content}}</textarea>
		</label>
		<input type="hidden" name="blog_id" value={{blog_id}}>		
		<div class = "error">{{error}}</div>
		<br>
		<input type ="submit">
	</form>
	</div>
	</body>
	
</html>


