<!DOCTYPE html>
<html>
	<head>
		<title>Personal Page!</title>
	</head>
	<style type="text/css">
		.title{
			font-weight: bold;
			font-size: 20px;
		}
		body{
			font-family: sans-serif;
			width: 800px;
			margin: 0 auto;
			padding: 10px;
		}

		.error{
			color: red
		}

		label{
			display: block;
			font-size: 20 px;
		}

		input[type=text]{
			width: 400px;
			font-size: 20px;
			padding: 2px;
		}

		textarea{
			width: 400px;
			height: 200px;
			font-size: 17px;
			font-family: monospace;
		}

		input[type=submit]{
			font-size: 24px;
		}

	</style>	
	<body>
		<h4>I am {{username}}!</h4>
		<a href="/blog"> back to blog</a>
		<br>
		<a href="/logout"> logout!</a>
		<br>
		{% set url = '/myblog/' + username%}
		<a href={{url}}>Go into my personal blog!</a>

	<div class = "title">edit post!</div>

	<form method="post">
		<label>
			<div>subject</div>
			<input type = "text" name = "title" value="{{title}}">
		</label>

		<lable>
			<div>blog</div>
			<textarea name="content">{{content}}</textarea>
		</label>
		<input type="hidden" name="blog_id" value={{blog_id}}>		
		<div class = "error">{{error}}</div>
		<input type ="submit">
	</form>

	</body>
</html>