<!DOCTYPE html>
<html>
	<head>
		<title>Personal Page!</title>
		<link rel= "stylesheet" type="text/css" href="/css/newpost.css">
	</head>

	<body>
		<h4>I am {{username}}!</h4>
		<a href="/blog"> back to blog</a>
		<br>
		<a href="/logout"> logout!</a>
		<br>
		{% set url = '/myblog/' + username%}
		<a href={{url}}>Go into my personal blog!</a>

	<div class = "title">edit post!</div>

	<form method="post">
		<label>
			<div>subject</div>
			<input type = "text" name = "title" value="{{title}}">
		</label>

		<lable>
			<div>blog</div>
			<textarea name="content">{{content}}</textarea>
		</label>
		<input type="hidden" name="blog_id" value={{blog_id}}>		
		<div class = "error">{{error}}</div>
		<input type ="submit">
	</form>

	</body>
</html>


