<!DOCTYPE html>
<html>
	<head>
		<title>Personal Page!</title>
	</head>	
	<body>
		<h4>I am {{username}}!</h4>
		<!-- {% set url = 'http://localhost:8080/myblog/' + username + '/newpost'%} -->
		{% set url = 'http://localhost:8080/myblog/' + 'newpost/' + username%}
		<a href={{url}}>write a new post!</a>
		<!-- <a href={{"http://localhost:8080/myblog/newpost"}}>write a new post!</a> -->
		<br>
		<a href="http://localhost:8080/blog"> back to blog</a>
		<br>
		<a href="http://localhost:8080/logout"> logout!</a>

		<label>
			<div class="title">{{username}} Blog</div>
		</label>
		<br>
		<br>
		{% for blog in blogs%}
				<div class="blog-title">{{blog.title}}</div>
				<div id="blog-created">{{blog.created}}</div>
			<hr>
			<div class = "blog-content">{{blog.content}}</div>
			<br>
			<br>
		{%endfor%}		
	</body>
</html>