<!DOCTYPE html>
<html>
	<head>
		<title>Personal Page</title>
		<link rel= "stylesheet" type="text/css" href="/css/blogpage.css">
	</head>	
	<body>
		<div id = "topbar">
			<a href="/blog"> 
				<div id = "back_blog"> back to blog </div>
			</a> 
			<br>
			<br>
			{%if username%}
				<a href="/logout"> 
					<div id = "logout"> Logout</div>
				</a>
				<div id = "username">{{username}}</div>
			{%endif%}
		</div>

		<h2 id = "title" align="center">{{username}}'s Blog</h2>
		{% set url = '/myblog/' + 'newpost/' + username%}
		<div id = "personal">
		<a href={{url}}>Write a new post</a>
		</div>

		<br>

		<br>
		<br>

		{% for blog in blogs%}
			<div id = "each-blog">
				<div id="blog-title">{{blog.title}}</div>
				<br>
				{% set editsurl = '/myblog/' + 'editpost/' + blog.blog_id%}				
				<a href={{editsurl}}>
					<div id = "edit"> Edit </div>
				</a>
				{% set deleteurl = '/myblog/' + 'deletepost/' + blog.blog_id%}

				<a href={{deleteurl}}>
					<div id = "delete"> Delete </div>
				</a>				
				<div id="blog-created">{{blog.created.strftime("%Y-%m-%d %H:%M:%S")}}</div>
			<hr>
			<div id = "blog-content">{{blog.content}}</div>
			<br>
			<br>
			</div>
		{%endfor%}		
	</body>
</html>