<!DOCTYPE html>
<html>
	<head>
		<title> Signup Now! </title>
		<link rel= "stylesheet" type="text/css" href="/css/logsystem.css">
	</head>

	<body>
		<div id = "topbar"> 
			 <a href="/login"> 
			 	<div id = "login">Log In </div>
			 </a>

			 <a href="/blog"> 
			 	<div id = "blog">back to blog </div>
			 </a>
		</div> 
		<div id = "signup">

			<div id = "title">
				Sign Up
			</div>
			<br>

			<form method = "post">
				<lable> 
					<div id = "username_title"> Username</div>
					<div> <input id = "username_input" type="text" name = "username" value="{{username}}"> </div>
					<div id="username_error">{{username_error}}</div>
				</lable>				
				<br>

				<lable> 
					<div id = "password_title"> Password</div>
					<div> <input id = "password_input" type="password" name = "password" value=""> </div>
					<div id="password_error">{{password_error}}</div>
				</lable>
				<br>

				<lable> 
					<div id = "password_verify_title">Verify Password</div>
					<div> <input type="password" id = "password_verify_input" name = "password_verify" value=""> </div>
					<div id="password_verify_error">{{password_verify_error}}</div>
				</lable>
				<br>

				<lable> 
					<div id = "email_title"> Email (optional) </div>
					<div> <input id = "email_input" type="text" name = "email" value="{{email}}"> </div>
					<div id="email_error">{{email_error}}</div>
				</lable>
				<br>

				<div id = "submit"> <input type = "submit"> </div>
			</form>
		</div>
	</body>
</html>