<!DOCTYPE html>
<html>
	<head>
		<title>Welcome!</title>
		<link rel= "stylesheet" type="text/css" href="/css/newpost.css">
	</head>
	<body>
		<div id = "topbar">
			<a href="/blog"> 
				<div id = "back_blog">Back to Blog</div>
			</a>

			{% set url = '/myblog/' + username%}
			<a href={{url}}>
				<div id = "personal">Personal Page</div>
			</a>

			<br>
			<br>
				<a href="/logout"> 
					<div id = "logout">Logout</div>
				</a>
				<div id = "username">{{username}}</div>
		</div>

		<h2 id = "title" align="center">Welcome {{username}}!</h2>

	</body>
</html>